---
import projects from "../data/projects.json"
import ProjectWindow from "./ProjectWindow.astro";
import StarBorder from './StarBorder'
---

<section id="projects" class="min-h-screen flex flex-col items-center">
  <p class="text-4xl m-15">My projects</p>
  <div class="mt-auto mb-auto flex gap-5">
    {projects.map((project, i) => {
      const dialogId = `projectWindow-${i}`;
      return (
        <div>
          <StarBorder client:load
            id={`proBtn-${i}`} class="text-2xl cursor-pointer"
            as="button"
            class="cursor-pointer"
            color="cyan"
            speed="1s"
          >
            {project.name}
          </StarBorder>
          <ProjectWindow
            id={dialogId}
            name={project.name}
            desc={project.desc}
            github={project.githubUrl}
            url={project.url}
            image={project.image}
          />
        </div>
      );
    })}
  </div>
</section>

<script>
  import { gsap } from "gsap";

  const pros = document.querySelectorAll("[id^='proBtn-']");

  pros.forEach((pro, i) => {
    const dialog = document.getElementById(`projectWindow-${i}`);

    pro.addEventListener("click", () => {
      if (dialog) {
      dialog.showModal();

      // Fade in from below
      gsap.fromTo(
        dialog,
        { y: 100, opacity: 0, scale: 0.9 },
        { y: 0, opacity: 1, scale: 1, duration: 0.6, ease: "power3.out" }
      );

      gsap.to(dialog, {
        "--rotate": 360,
        duration: 2,
        repeat: -1,
        ease: "linear"
      });

      gsap.to(dialog, {
        boxShadow: "0 0 20px 5px rgba(0, 195, 255, 0.6)",
        repeat: -1,
        yoyo: true,
        duration: 1.5,
        ease: "sine.inOut"
      });
    }
    });

    pro.addEventListener("mouseenter", () => {
      gsap.to(pro, {
        fontSize: "2.5rem",
        opacity: 1,
        color: "rgba(123,255,65,1)",
        duration: 0.3,
        ease: "power2.out"
      });
    });

    pro.addEventListener("mouseleave", () => {
      gsap.to(pro, {
        fontSize: "1.5rem",
        opacity: 0.85,
        color: "#fff",
        duration: 0.3,
        ease: "power2.inOut"
      });
    });
  });
</script>
